<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.icon">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name ="viewport" content ="width=device-width, initial -scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font"> -->
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
    <title>Restaurant</title>
  
</head>
<body>
     <!-- catering section starts -->

     <div class="bg" id="catering">
   
        <div class="edit1">
            <h1 class="edit"> CATERING</h1>
        </div>
        <div class="s1">
            <div class="collage">
                <div>
                    <img class="col1" src="/images/c12.jpg" />
                    <img class="col1" src="/images/c2.jpg" />
                    <img class="col1" src="/images/c1.jpg" />
                </div>
                <div >
                    <img class="col1" src="/images/c9.jpg"/>
                    <img class="col1" src="/images/c3.jpg"/>
                    <img class="col1" src="/images/c6.jpg"/>
                </div>
                <div >
                    <img class="col1" src="/images/c7.jpg"/>
                    <img class="col1" src="/images/c10.jpg"/>
                    <img class="col1" src="/images/c11.jpg"/>
                </div>
            </div>
            </div>

       
       
        <div class="s2">
            <div class="para1">

                From sit down dinners and cocktail parties to elegant fundraisers or grand weddings, our team works with
                you to create and execute a bespoke experience to suitnd celebrities.

                For a consultation or queries, please fill in your details below or e-mail us at
                catering@thefooddoor.com or call 9111111111.
            </div>
        </div>
     
    </div>
</body>
</html>