<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.icon">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name ="viewport" content ="width=device-width, initial -scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    <title>Restaurant</title>
    <!-- <link href="style2.css" rel="stylesheet"type="text/css"> -->
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
</head>
<body>
             <!--contact section starts  -->


                      
<div class="contactme" id="contactus">
    <div>
    <h1 class="c1">Contact Us</h1>
  </div>


<section class="cont" id="cont">

    <form method="post" id="frmCont">
        


        <p class="inputBox1">
            <h9 class="c3">Name</h9>
            <input type="text" name="a" id="a"  placeholder="Name"required />
       </p>

      


        <p class="inputBox1">
            <h9 class="c3">Email-Address</h9>
            <input type="text" name="b" id="b"  placeholder="Email-address"required />
       </p>

       
        
            <p class="inputBox1">
                <h9 class="c3">Event location</h9>
                <input type="text" name="c" id="c"  placeholder="location"/>
           </p>
     
  

        <p class="inputBox1">
            <h9 class="c3">Date</h9>
            <input type="text" name="d" id="d"  placeholder="Date"/>
       </p>

    

         <p class="inputBox1">
            <h9 class="c3">Phone-No</h9>
            <input type="text" name="e" id="e"  placeholder="Phone-no"/>
       </p>


     

        <p class="inputBox1">
            <h9 class="c3">Message for Us</h9>
            <input type="text" name="f" id="f"  placeholder="Name" />
       </p>

         <button type="submit" name="sub" class="btn00">Send Message</button>
        
    </form>
</section> 

                       
                            
                            
                           
                    
                <!-- contact section ends  -->

            
                <script src="/js/contact.js"></script>  



</body>
</html>