<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Restaurant</title>
    <!-- <link href="style2.css" rel="stylesheet"type="text/css"> -->
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
</head>
<body>
     <!-- coustmer rating section -->

     <div class="listen1" id="cust">

        <div class="listen2">
        <h1 class="l1">Listen To Our Customers</h1>
        </div> 
        <div class="listen3">
         <h1>chicken is one of the wholesome foods that man can eat in fact people have been eating chicken throughout human</h1>
        
     </div>
     
 <div class="listen7">
     <div class="liste4" >
    
     <img class="listen5" src="/images/hande.jpg" />
     <div class="listen6">
     <span style="font-size:120%;color:green;">&bigstar;</span>
     <span style="font-size:120%;color:green;">&bigstar;</span>
     <span style="font-size:120%;color:green;">&bigstar;</span>
     <span style="font-size:120%;color:green;">&star;</span>
     <h2>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know what they’re doing and what they’re talking about</h2>
         <h1>HANDE ERCEL</h1>
 </div>
     </div>
 
     <div class="liste5">
        <img class="listen8" src="/images/wahi.jpg" />
        <div class="listen6">
         <span style="font-size:120%;color:green;">&bigstar;</span>
         <span style="font-size:120%;color:green;">&bigstar;</span>
         <span style="font-size:120%;color:green;">&bigstar;</span>
         <span style="font-size:120%;color:green;">&star;</span>
         <h2>Excellent food. Menu is extensive and seasonal to a particularly high standard. Definitely fine dining. It can be expensive but worth it and they do different deals on different nights .</h2>    
         <h1>KARAN WAHI</h1>
        
     </div>
         </div>
 
 
     <div class="liste6" id="abc1">
         <img class="listen9" src="/images/shaheer.jpg"/>
         <div class="listen6">
             <span style="font-size:120%;color:green;">&bigstar;</span>
             <span style="font-size:120%;color:green;">&bigstar;</span>
             <span style="font-size:120%;color:green;">&bigstar;</span>
             <span style="font-size:120%;color:green;">&star;</span>
             <h2>This cozy restaurant has left the best impressions! Hospitable hosts, delicious dishes, beautiful presentation, wide wine list and wonderful dessert.</h2>
             <h1>SHAHEER SHEIKH</h1>
         </div>
         </div>
 
     </div>    
    
 
 </div>
</body>
</html>