<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.icon">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name ="viewport" content ="width=device-width, initial -scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    <title>Restaurant</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
    <!-- <link href="style2.css" rel="stylesheet"type="text/css"> -->
</head>
<body>
  
    
    

     <!--login section starts --> 
                 
    
               
     <div class="main1" id="login">
        <div class="yoa">
        <h1 class="y1">YOUR</h1>
        <h1 class="y2">ORDER</h1>
        <h1 class="y3">AWAITS</h1>
        <div class="y2">Restaurant the food door</div>


    </div>

    <section class="contact" id="contact">
    
        <form action="">
            
            <div class="inputtBox1">
               
                <input type="email" placeholder="Email-Address" name="" id="email">
        

            </div>
            <div class="inputtBox1">
               
                <input type="password" placeholder="Password" name="" id="pass">
      

            </div>
            <button  id="signup" class="btn09" >Login</button>
            
        </form>
    
    </section>
</div>

<script type="text/javascript" src="/js/login.js"></script> 
 
 


</body>
</html>