<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.icon">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name ="viewport" content ="width=device-width, initial -scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    <title>Restaurant</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
    <!-- <link href="style2.css" rel="stylesheet"type="text/css"> -->
</head>
<body>
    <!-- location section starts -->
    <div class="o1" id="reachus">
        <div class="o2">

            <h1>NEW Delhi </h1>
          
            <h1>The Lodhi,Lodhi Road,New Delhi</h1>
            <h1>110003</h1>
            <br>
            <br>
            <h1>Our reservation lines are open till 9:30pm</h1>
           <br>
           <br>
         
            <h1>Reservations.del@thefooddoor.com</h1>
            <h1>+91 2222222222</h1>
            <h1>+91 1111111111</h1>
        </div>
         
            <!-- <div class="o3">
             <img src="reserve.jpg">
            </div> -->
        </div>

        
        <!-- ending section starts -->
        <div class="end">
            <div>
            <img class="end1" src="/images/logo.jpg" />
        </div>
            <div class="end2">
          <h1 class="e1"> CONTACT</h1>
          <h2 class="e2">NEW DELHI
            The Lodhi, Lodhi Road, New Delhi 110003
           </h2>
           
        </div>
        <div>
            <img  class="insta1 " src="https://cdn.jim-nielsen.com/watchos/512/instagram-2018-01-23.png" />

          <h1 class="e3" ><a href="https://www.bing.com/ck/a?!&&p=08d35d545ff2bbf0JmltdHM9MTY2MzQ1OTIwMCZpZ3VpZD0xNTc0MzFhMS05YTM5LTZhM2UtMDk0Yy0yMWVlOWIzOTZiYjUmaW5zaWQ9NTE5MA&ptn=3&hsh=3&fclid=157431a1-9a39-6a3e-094c-21ee9b396bb5&u=a1aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS8&ntb=1">INSTAGRAM LINK</a></h1>
        </div>
        <div>
            <img  class="twitter" src="https://th.bing.com/th/id/OIP.4ZzmS2LDMO8Sg0Dewfj_jQAAAA?pid=ImgDet&rs=1" />
            <h5 class="e3" ><a href="https://twitter.com/?lang=en-in">TWITTER LINK</a></h5>
        </div>
        <div>
            <h5 class="e4" > 56,465</h5>
            <h5 class="e5">Customers Served</h5>
        </div>
        
        <div>
            <h5 class="e4" > 1 Lakh</h5>
            <h5 class="e6">Total Views</h5>
        </div>
    
        </div>
    
        </div>  
         </div>

</body>
</html>