<!DOCTYPE html>
<html lang="en">
<head>
      
    <link rel="icon" type="image/x-icon" href="/images/favicon.icon">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name ="viewport" content ="width=device-width, initial -scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ms Madi' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Tiro Bangla' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    <title>Restaurant</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" >
    <!-- <link href="style2.css" rel="stylesheet"type="text/css"> -->
</head>
<body>
  
    <!-- book your table -->
                   
    <div class="book" >

        <div class="book1">
            <div class="book2">
                BOOK YOUR TABLE
            </div>
            <div class="book3">
                The only thing I like better than talking about food is eating
            </div>
            <section class="contact" >


<form method="post" id="frmContact">
    <p class="iinputBox1">
         <input type="text" name="fullname" id="fullname"  placeholder="Name"required />
    </p>
    <p class="iinputBox1" >
         <input type="email" name="email" id="email"  placeholder="Email"required />
    </p>
    <p class="iinputBox2">
        <input type="text" name="phone-no" id="phone-no"  placeholder="Phone-No"/>
      <input type="text" id="Number-off-Person" placeholder="Number of Person" name="Number-off-Person"/>
    </p>
    <p class="iinputBox2">
       
         <input type="text" id="Dates" placeholder="Date" name="Dates"/>
        <input type="text" id="Time" placeholder="Time" name="Time"/>
    </p>
    <p class="iinputBox1">
     <textarea name="message" placeholder="Message" class="iinputBox1" id="message"></textarea>
    </p>
    <button type="submit" name="submit" class="btn0"  >Submit</button>
</form>
</section>

</div>
    </div> 


       <!-- reservation section starts  -->
                

       <div class="maindiv" >
        <div class="1">
            <h1 class="hed">Reservation Policy</h1>
        </div>
        <div>
            <p class="pita">
                <B>The food door is a reservation driven Restraunt. We do welcome in guests and will accomadate them as much as possible.
    <br>
    <br>
    Lunch: 12:00 Noon -2:30 pm(last order to be placed at 2:30pm)
    <br>
    <br>
    Dinner:First seating:starts at 7pm| Second seating:starts at 9:45pm(last order 10:30 pm)
    <br>
    <br>
    1.CHILD POLICY
    <br>To respect the dining experiences of all are guests,we practice a restricted entrance policy only allowing children above 10 years and above.
    <br>
    <br>2.RESERVATIONS ARE ACCEPTED BY EMAILS OR BOOKING THROUGH CONTACTING OUR BOOKING DESK.
    <br>Please note that an email reservation request can only be treated as confirmed once our confirmation executive has replied to the customer through an email.there may be times when our reservation executive may have to call you back to confirm details about your reservation.please understand this is done only to ensure that we deliver the best experience possible and to maintain proper table spacing times for the day.
    <br>
    <br>3.CANCELLATION POLICY/NO SHOWS
    <br> Due to the limited seating at the restraunt,we encourage all our diners to keep us informed about any change with regards tto their reservation.in casec you decide to cancel your reservation,we request you kindly give us call at +91 2222222222 or +91 1111111111
    <br>
    <br>
    4.OTHER POLICIES
    <br>Diners with food allergies should inform their server at the beginning of their meal,prior to ordering.please discuss your food allergies with the server so the chef can adjust your meal.
    All accompanying guests with you will have to be seated at your table and will not be allowedto stand or wait at the restraunt or other hotel guests areas. 
                    </B>
                </p>
                
        </div>
    </div>

</body>
</html>
          